<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <picture> <img class="c-navbar-desktop__logo" src="https://www.senioradom.com/images/domain/logos/logo.svg"
        alt="Téléassistance SeniorAdom" width="249" height="45"> <img
        class="c-navbar-desktop__logo c-navbar-desktop__logo--sad-vyv d-none"
        src="https://www.senioradom.com/images/domain/logos/logo-sad-vyv.svg" alt="Téléassistance SeniorAdom" width="249"
        height="45"> </picture>
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-gps" routerLinkActive="active">Add GPS Point</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-gps" routerLinkActive="active">List GPS Points</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/distance" routerLinkActive="active">Calculate Distance</a>
      </li>

    </ul>
  </div>
</nav>
